<h1>About Us</h1>

<p class="indent">Community Zero is an online community and independent news/media outlet that features the latest reporting,
provocative commentary, and thoughtful analysis on politics, culture, art, history, science & more.
Our aim is to, on a regular basis: produce insightful, well-grounded, witty, and sharp content and to facilitate
diverse dialogue and discourse, distinguishable by other media mediums.</p>
<p>Are you interested in writing for Community Zero or do you have any other questions?
You can send all inquiries to <a href="mailto:communityzeropress@gmail.com">communityzeropress@gmail.com</a></p>