<div class="border-container">
    <div class="clearfix">
        <h1>Reset your password</h1>
        <p>To reset your password, enter your email address and the characters in the picture below</p><br />
        <form name="forgot-form" id="forgot-form" class="large-form" method="post" action="<?=site_url('login/emailReset')?>" enctype="multipart/form-data">
            <label>Email Account</label><br />
            <input name="email" type="text" placeholder="someone@example.com" size="40" value="" required /><br />
            <input type="submit" name="submit" value="Reset" id="forgot-button" />
        </form>
    </div>
</div>