<h1>Privacy Policy</h1>

<p class="indent">Community Zero is committed to protecting the privacy of our readers and subscribers. Community Zero will never release, share, trade or sell your email address and other personal data upon registration or during any other point of time. </p>
<h2>Questions?</h2>
<p>You can send all inquiries to <a href="mailto:communityzeropress@gmail.com">communityzeropress@gmail.com</a></p>