<h1>Terms and Conditions of Use</h1>

<p class="indent">
Welcome to Community Zero, a collectively owned and operated media outlet. You may have accessed this website various ways from the internet and from various electronic devices(computer, cell phone, tablet,etc.). Either way, you agree to be compliant by these terms and conditions that will be discussed further below. If you are not willing to accept all of the terms and conditions of use, please proceed to leave the site immediately. These terms and conditions are also subject to change at any time without prior notice. Although, we will try our utmost efforts to update users with these changes. Please read this carefully.
</p>
<h2>Registration</h2>

<p class="indent">
To use certain features of the services on this website, you may be required to either register with a particular third party website or  become a registered member and create an account with us on a form provided. By using any of the registered areas, you will be compliant to these terms:

<ul class="roman-type">
<li>Your account and password are kept personal to you and may not be used by any other individual to access Community Zero</li>

<li>To provide current, true, and accurate information about yourself in the registration form</li>

<li>You will not do anything which would aid anyone who is not a registered user to gain access to any registered areas of Community Zero</li>

<li>You agree also to contact us immediately if you become aware of any unauthorized use of your password</li>
</ul>
<h2>Termination of registration</h2>

<p class="indent">
In regards to registration, if you do not comply to all of these terms and if we have reasonable grounds to suspect you of violating these terms, we attain the right to suspend or terminate your account. Also, our use of any personal data you provide to us in the registration form is dictated by the terms of our privacy policy. Or if you would like to discontinue your registered account, you may end the account by sending us an email.
</p>
<h2>Use of Material</h2>

<p class="indent">
Your use of Community Zero's website is only for your own personal and noncommercial use only. You accept the the condition that excluding user content, Community Zero is the only owner for content found on this website, unless, otherwise, stated. You agree to respect and not violate any licenses, rather it be copy right licensing or creative commons licensing for text, images, graphics, logos, audio, videos, or any other content on Community Zero. You may print or download extracts of content on Community Zero for non-commercial use. If you would like to use our content for any other purposes that are not allowed by these terms and conditions, you will have to email Community Zero for such inquiries.
</p>
<h2>Disclaimer of Liability</h2>

<p class="indent">
On Community Zero, we may have links to third party sites, but we, in no way, express or imply endorsement or sponsorship of any third party site, or any information, content, products, and services disseminated on these third party sites. In saying that, we are not responsible or do not guarantee the availability of content of any third party website whatsoever. We also do not warrant that Community Zero or any service we provide to function uninterrupted or without errors, we will make our best efforts to fix such disfunction's. We also do not warrant that any part of Community Zero including the user content areas and the server that makes content available are free of harmful elements or free of viruses. You acknowledge that we are not responsible for any damages to electronic devices or loss of data that are suffered through accessing  or downloading any material on Community Zero or any third party website. Community Zero does not guarantee the accuracy or complete truthfulness of any content or material. Content or material may contain inaccuracies, you are aware that any reliance on any information found on Community Zero will be at your own risk. However, Community Zero reserves the right to make any changes to the site or any content at any time without notice.
</p>
<h2>Indemnity</h2>

<p class="indent">
You acknowledge and agree to defend, indemnify, and not hold Community Zero accountable or any individuals involved with Community Zero accountable from any and all claims, liabilities, costs, and expenses, related to accessing this site. You will also acknowledge that by using the user content areas, you will be exposed to user content that may be inaccurate or offensive. In that regard, you will indemnify and not hold Community Zero accountable or not hold any individual involved in Community Zero accountable.
</p>
<h2>User Content</h2>

<p class="indent">
Users of this site, may submit content for publication in particular areas of the site, as a registered member of Community Zero or through a third party website that is provided. You will be required to abide by these guidelines and these terms and conditions if you wish to submit user content. Whenever you submit any user content on Community Zero, you are the owner of the content, and you are granting us an unlimited, royalty-free, worldwide license to the content, which gives us the right to use, distribute, modify, alter, or delete parts of the user submission. Community Zero will ultimately determine matters of the display of User Submissions. Community Zero, under no circumstances are required to display any part of any user submission. If you do not own the user content that you are submitting, you must get authorized consent from the owner. You are solely responsible for your own submissions and any claims, damages, third party rights, as well as any legal action that comes out of any user content you submit. Particular user content are restricted, content that are unlawful, obscene, vulgar, profane, pornographic, libelous, abusive, fraudulent, spam, or defamatory. Submissions of user content that victimizes any individuals or groups are prohibited as well, including, without limitation, religion, sexuality, gender, creed, age, citizenship, ethnicity, or nationality.
</p>

<h2>Entire Agreement</h2>

<p class="indent">
This agreement(the terms and conditions of use), as well as the privacy policy constitutes the entire agreement between us and you and defines your use of the site.
</p>
<br />