<div class="row">
        <div class="col_5">
            <?php
                $target = site_url('profile/' . $profilePath);
                $src = (empty($profileImage) ? DEFAULT_PROFILE_IMAGE_MEDIUM : $profileImage);
                $firstname = explode(' ', $fullname);
                $firstname = $firstname[0];
            ?>
            <div class="image-container">
                <div class="image-container-inner">
                    <?php
                        if (!is_null($owner)) :
                            if (strcasecmp($owner, $session['member']) == 0) :
                    ?>
                    <div id="image-result"></div>
                    <div id="profile-image-form-container">
                        <form name="imageUploadForm" id="profile-upload-form" action="<?=site_url('profile/upload-profile-image')?>" method="post" enctype="multipart/form-data" style="display: none; position: absolute;">
                            <div class="file-wrapper">
                                <input type="file" name="profileImage" id="upload-img" class="file-input" />
                                <div class="overlap-upload-image-link"><div><b>Edit Profile Picture</b></div></div>
                            </div>
                        </form>
                    </div>
                    <?php 
                        endif;
                        endif; 
                    ?>
                    <a href="<?=$target ?>" rel="lightbox[profile]" id="profile-image-link">
                        <img src="<?=$src ?>" alt="Profile Image" />
                    </a><br />
                    <?php $videoCount = (!empty($userStats->video_count) ? $userStats->video_count : 0); ?>
                    <?php if ($userStats->article_count !== 0 && $videoCount !== 0) : ?> 
                    <h3>User Stats</h3>
                    <table class="table-1">
                        <tbody>
                        <tr><td class="col-1"><b>Articles</b></td><td class="col-2"><?=$userStats->article_count?></td></tr>
                        <tr><td class="col-1"><b>Videos</b></td><td class="col-2"><?=$videoCount?></td></tr>
                        </tbody>
                    </table>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="col_12">
            <h1 class="profile-title-name"><a href="<?=$profilePath ?>"><?=$fullname ?></a></h1>
            <h2 class="profile-subtitle"><?=ucwords($subtitle) ?></h2><br />
            <? if (isset($_GET['edit']) && (strcasecmp($owner, $session['member']) == 0)) : ?>
                <form action="<?=site_url('profile/editProfile/' . $profilePath)?>" method="post" enctype="multipart/form-data">
                    <textarea name="biography" class="redactor" rows="30" style="min-width: 95%; width: 95%;" tabindex="1" required><? if (isset($profileData->biography)) { echo $profileData->biography; } ?></textarea><br />
                    <input type="submit" value="Save Changes" class="float-left" style="margin-right: 20px;" />
                    <a href="<?=site_url('profile/' . $profilePath); ?>" class="float-left">Cancel Edit</a>
                </form>
            <? elseif ((strcasecmp($owner, $session['member']) == 0)) : ?>
                <a href="<?=site_url('profile/' . $profilePath . '?edit'); ?>">Edit Biography</a>
                <div><? if (isset($profileData->biography)) { echo $profileData->biography; } ?></div>
            <? else : ?>
                <? if (isset($profileData->biography)) : ?>
                    <div><?=$profileData->biography?></div>
                <? else : ?>
                    <div class="warning-box">
                        <?=$firstname?> has not filled out a biography yet.
                    </div>
                <? endif; ?>
            <? endif; ?>
        </div>
    <div class="col_7">
        <span style="margin-right: 11px; margin-top: 6px; float: left;"><img src="<?=media_url('assets/images/video-icon.png')?>" alt="video icon"></span><span style="float: left;"><h2>My Videos</h2></span><br>
        <div style="border: 1px solid #CCC; padding: 5px;">
            <div style="background: #EEE; padding: 5px;">
                <p>No available videos</p>
            </div>
        </div><br />
        <h2>Most Recent</h2>
        <div style="border: 1px solid #CCC; padding: 5px;">
            <div style="background: #EEE; padding: 5px;">
                <p>No recent articles</p>
            </div>
        </div>
        <? if ($userArticles !== false) : ?>
            <? foreach($userArticles as $article) : ?>
                <? if(!empty($article->youtube_video)) : ?>
                    <iframe width="100%" height="245" src="<?=$article->youtube_video?>" frameborder="0" allowfullscreen></iframe><br /><br />
                <? endif; ?>
            <? endforeach; ?>
        <? endif; ?>
    </div>
</div>