<div id="login-loader"></div>
<h1>Sign In to Community Zero</h1>
<p>Use Facebook <!--, Twitter -->or your email to sign in.
Don't have a CZ account yet? No worries, joining is easy.</p><br />
<div class="clearfix">
    <div class="thirdParty float-left">
        <button id="fb-login" class="facebook massive" data-provider="facebook" type="button" style="margin: 0 80px 0 80px;">
            <div id="fb-root"></div>
            <i class="facebook_170"></i><p>Facebook</p>
        </button>
        <!--
        <button id="twtr-login" class="twitter massive" data-provider="twitter" type="button">
            <i class="twitter_170"></i><p>Twitter</p>
        </button>-->
        <div class="center" style="padding-top: 30px;">
            <div class="lb-dotted" style="margin-bottom: 20px;">OR</div>
            <a href="<?=site_url('register')?>" class="button">Register</a>
        </div>
    </div>
    <div class="vertical-border-separator float-left"></div>
    <div class="float-left" style="width: 600px; margin-left: 30px;">
        <form name="loginform" id="loginform" class="large-form" method="post" action="<?=site_url('login/verify')?>" enctype="multipart/form-data">
            <?php
                srand();
                $challenge = "";
                for ($i = 0; $i < 80; $i++) {
                    $challenge .= dechex(rand(0, 15));
                }
            ?>
            <input type="hidden" name="page" value="verify_login" />
            <?php
                if(isset($_GET['login_attempt'])) {
                    $output = '<div class="error-box">';
                    $error = $_GET['login_attempt'];

                    if ($error == 1) {
                        $output .= '<b>Incorrect Email/Password Combination</b><br />
                            Community Zero passwords are case sensitive. Please check your CAPS lock key. You can reset your password <a href="#"><b>here</b></a>.';
                    } else if ($error == 2) {
                        $output .= '<b>Account banned</b>';
                    }
                    
                    $output .= '</div><div class="space_10"></div>';
                    echo $output;
                }
            ?>
            <div><input name="email" type="text" placeholder="Email" size="40" value="<? if(isset($_SESSION['username'])) { echo $_SESSION['username']; } ?>" required />
            </div>
            <div>
                <input name="password" type="password" size="40" placeholder="Password" value="<? if(isset($_SESSION['password'])) { echo $_SESSION['password']; } ?>" required style="margin:0 0 5px 0;" />
            </div>
            <div>
                <span><a href="<?=site_url('forgot')?>">Forgot password?</a></span>
                <span style="margin-left: 20px;"><input type="checkbox" value="" checked="checked" />Keep me signed in</span><br /><br />
            </div>
            <div>
                <input type="hidden" name="challenge" value="<?=$challenge ?>">
                <input type="submit" name="submit" value="Sign In" id="login-button" /><br/><br />
            </div>
        </form>
        <p style="color: #666;"><b>Notice:</b> Community Zero is committed to protecting the privacy of our readers and subscribers. We do not share, trade, or sell personal information under any circumstances.</p>
    </div>
</div>