<h1>Welcome to the Community</h1><br />
<div class="col_16 t-m-hide">
    <img src="<?=media_url('assets/images/worldmap.gif')?>" alt="world map" />
</div>
<div class="col_8 col_100 registration-container">
    <div class="clearfix">
        <div class="float-right t-m-clear">
            <div id="error-msg"></div>
            <form name="register_form" enctype="multipart/form-data" method="post" action="<?=site_url('register/userRegister')?>" id="register-form" class="large-form">
                <table>
                    <tr>
                        <td><input type="text" name="register[fullname]" pattern="[A-Za-z\s]+" placeholder="Full name" value="<?
                            if(isset($_POST['fullname'])) { echo $_POST['username']; }?>" size="30" required />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="email" name="register[email]" class="email" value="<?
                            if(isset($_POST['email'])) { echo $_POST['email']; }?>" placeholder="Email" size="30" required />
                        </td>
                    </tr>
                    <tr>
                        <td><input type="password" name="register[password1]" placeholder="Password" value="" size="30" required />
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="password" name="register[password2]" placeholder="Re-enter Password" value="" size="30" required />
                        <span id="password_result"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="signup" type="submit" value="Sign Up" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
