<? if($viewTemplate == "searchAlert") : ?>
    <h2>Search Results</h2>
    <ul class="no-list">
    <? for($i = 0; $i < count($alerts); $i++) : ?>
        <li class="border-item">
            <div><b>Author:</b> <?=$alerts[$i]['source'] ?></div>
            <div><b>Date:</b> <?=$alerts[$i]['alert_date'] ?></div>
            <div><b>Alert Message:</b> <?=$alerts[$i]['message'] ?></div>
            <a href="<?=site_url('admin/edit-alert/'.$alerts[$i]['id'])?>">Edit</a>
        </li>
    <? endfor; ?>
    </ul>
<? elseif($viewTemplate == "searchArticle") : ?>
    <h2>Search Results</h2>
    <ul class="no-list">
    <? for($i = 0; $i < count($articles); $i++) : ?>
        <li class="border-item">
            <div><b>Title:</b> <?=$articles[$i]['title'] ?></div>
            <div><b>Author:</b> <?=$articles[$i]['author'] ?></div>
            <div><b>Date:</b> <?=$articles[$i]['creation_date'] ?></div>
            <div><b>Prelude:</b> <?=$articles[$i]['prelude'] ?></div>
            <a href="<?=site_url('admin/edit-article/'.$articles[$i]['id'])?>">Edit</a>
        </li>
    <? endfor; ?>
    </ul>
<? elseif($viewTemplate == "searchUsers") : ?>
    <h2>Search Results</h2>
    <ul class="no-list">
    <? for($i = 0; $i < count($users); $i++) : ?>
        <li class="border-item">
            <div><b>Fullname:</b> <?=$users[$i]['actual_name'] ?></div>
            <div><b>Email:</b> <?=$users[$i]['email'] ?></div>
            <div><b>Date Joined:</b> <?=$users[$i]['register_date'] ?></div>
            <a href="<?=site_url('admin/edit-user/'.$users[$i]['id'])?>">Edit</a>
        </li>
    <? endfor; ?>
    </ul>
<? endif; ?>