<?php
    $author = ucwords($articles['author']);
    $profile_path = $articles['profile_path'];
    $title = $articles['title'];
    $article_id = $articles['id'];
    $slug = $articles['slug'];
    $category = $articles['category'];
    $modifiedDate = $articles['modified_date_formatted'];
    $full_date = $articles['creation_date_full'];
    $article_content = $articles['content'];
    $primary_image = $articles['primary_image'];
    $image_caption = $articles['image_caption'];
?>
<div class="single-article">
    <div id="fb-root"></div>
    <div class="break-word">
        <h1><?=$title?></h1>
        <span class="author-desc">
            By <a href="<?=site_url('profile/' . $profile_path)?>"><?=$author?></a><br />
            Last modified: <?=$modifiedDate?><br /><br />
        </span>
        <div class="clearfix">
            <div class="article-social-options">
                <div class="float-left" style="padding-right: 30px;">
                    <div class="fb-like" data-send="false" data-width="71" data-show-faces="false" data-layout="button_count" data-font="arial" data-href="<?=site_url($category . $slug)?>"></div>
                </div>
                <div class="float-left"><a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a></div>
                <div class="float-left"><div class="g-plusone" data-size="medium"></div></div>
                <div class="float-left"><script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/Share" data-counter="right"></script></div>
                <!-- <div class="float-left"><a href="<?=site_url('article/'.$slug)?>" class="float-left print-btn">
                <img src="<?=media_url('assets/images/print.png')?>" alt="print" class="float-left" style="padding-right: 3px;" /></a></div>
                <div class="float-left"><a href="<?=site_url('article/'.$slug)?>" class="float-left print-btn">
                <img src="<?=media_url('assets/images/email.png')?>" alt="email" class="float-left" style="padding-right: 3px;" /></a></div>-->
                <!-- Place this tag after the last +1 button tag. -->
                <script type="text/javascript">
                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div><br />
        <img src="<?=media_url($primary_image)?>" class="article-primary-image" /><br />
        <p class="image-caption"><?=$image_caption?></p>
        <div class="full-article">
            <?=$article_content?>
        </div>
        <div class="fb-like article-bottom" data-send="true" data-width="450" data-show-faces="false" data-font="arial" data-href="<?=site_url('article/'.$slug)?>"></div><br />

        <div class="lb"></div><br />
        <div id="all-comments-container">
        <?
            if($comments !== false) :
                $commentCount = count($comments);

                if($commentCount >= 1) :
                    for($i = 0; $i < $commentCount; $i++) :

                    $comment_author = ucwords($comments[$i]['author']);
                    $comment_id = $comments[$i]['id'];
                    $comment_date = $comments[$i]['comment_date'];
                    $comment_content = $comments[$i]['content'];

                    if($comment_author == "Guest") {
                        $img = '<img src="' . media_url('assets/images/guest-icon.png') . '" alt="guest" class="comment-member-icon" />';
                    } else {
                        $img = '<img src="' . media_url('assets/images/member-icon.png') . '" alt="member" class="comment-member-icon" />';
                    }
        ?>
            <div class="single_comment_entity">
                <div style="margin-bottom: 10px;">
                    <span style="font-size: 20px; margin-right: 20px;"><b><?=$comment_author ?></b></span>
                    <span class="author-desc">On <?=$comment_date ?></span>
                </div>
                <div class="float-left" style="margin-right: 15px;">
                    <?=$img ?>
                </div>
                <div class="float-left word-break" style="width: 85%">
                    <?=$comment_content ?>
                </div><div class="clear"></div>
            </div>
        <? endfor; endif; endif; ?>
        </div>
        <? if(!isset($session['fullname'])) : ?>
            <div><b>You are signed in as a guest. Please login to use an account.</b></div>
        <? endif; ?>
        <form enctype="multipart/form-data" method="post" action="<?=SITE_URL ?>add-comment/<?=$article_id?>">
            <section class="commentbox-container table width-100">
                <div class="table-row">
                    <? if(isset($session['fullname'])) : ?>
                        <div class="table-cell comment-member-container">
                            <img src="<?=media_url('assets/images/member-icon.png')?>" alt="member" class="comment-member-icon" />
                        </div>
                        <div class="table-cell" style="width: 90%;">
                            <div><b><?=$session['fullname']?></b></div>
                            <textarea name="comment" class="commentbox width-100" id="comment_<?=$article_id?>" rows="4" placeholder="Leave a comment..." required style="margin-top: 4px; resize: vertical;"></textarea>
                        </div>
                    <? else : ?>
                        <div class="table-cell comment-member-container">
                            <img src="<?=media_url('assets/images/guest-icon.png')?>" alt="guest" class="comment-member-icon" />
                        </div>
                        <div class="table-cell" style="width: 90%;">
                            <div><b>Guest</b></div>
                            <textarea name="comment" class="commentbox width-100" id="comment_<?=$article_id?>" rows="4" placeholder="Leave a comment..." required style="margin-top: 4px; resize: vertical;"></textarea>
                        </div>
                    <? endif; ?>
                </div>
            </section>
            <input type="submit" value="Comment" class="float-right" />
        </form>
    </div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=290420687655701";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
</div>
