<?php
    $compiledScripts = array();

    array_push($compiledScripts, media_url('assets/scripts/vendor/jquery-1.7.1.min.js'));

    if(isset($scripts)) {
        $resource = '';
        foreach($scripts as $path) {
            array_push($compiledScripts, media_url($path));
        }
    }

    if(isset($inline_scripts) && !empty($inline_scripts)) {
        echo '<script type="text/javascript">$(document).ready(function(){'.$inline_scripts.'});</script>';
    }

    if(!isset($module)) {
        $module = 'base';
    }

    $scriptFile = $module . '/' . $module . '.js';
?>
<script type="text/javascript" src="<?=media_url($this->minifier->merge('assets/scripts/modules/' . $scriptFile, 'assets/scripts/modules/' . $module, $compiledScripts));?>"></script>

<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41763299-1', 'community-zero.com');
    ga('send', 'pageview');
</script>

<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41763299-1', 'community-zero.com');
    ga('send', 'pageview');
</script>