<div class="clearfix">
    <div id="footer">
        <div id="footer-inner-top" class="clearfix">
            <div class="block-wrapper">
                <div class="float-left" style="color: #000 !important;">
                    <!--<div id="google-translate-container"></div>
                    <a href="<?=site_url('services/translate')?>" id="start-translations">Select Language</a>-->
                </div>
                <div class="float-right">
                    <div class="arrow-up float-left"></div><a class="go-top float-left white-text">Back to top</a>
                </div>
            </div>
        </div>
        <div class="block-wrapper">
            <div id="inside-footer">
                <div id="footer-inner-bottom" class="clearfix">
                    <ul class="panel-list">
                        <li style="padding-left: 0 !important;"><a href="<?=site_url() ?>" class="white-text">News</a>
                        <li><a href="<?=site_url('events') ?>" class="white-text">Events</a></li>
                        <li><a href="<?=site_url('current') ?>" class="white-text">Current</a></li>
                        <li><a href="<?=site_url('art') ?>" class="white-text">Art</a></li>
                        <li><a href="<?=site_url('history') ?>" class="white-text">History</a></li>
                        <li><a href="<?=site_url('culture') ?>" class="white-text">Culture</a></li>
                        <li><a href="<?=site_url('health') ?>" class="white-text">Health</a></li>
                        <li><a href="<?=site_url('opinion') ?>" class="white-text">Opinion</a></li>
                        <li><a href="<?=site_url('policy')?>" class="white-text">Privacy Policy</a></li>
                        <li><a href="<?=site_url('terms')?>" class="white-text">Terms of Use</a></li>
                        <!-- <li><a class="white-text">Site Index</a></li>-->
                    </ul>
                    <div class="clearfix">
                        <div class="float-left">
                            <p>Copyright &copy; <?=date('Y')?> Community Zero. All rights reserved.<br />
                        </div>
                    </div><br />
                    <p>Community Zero is an aspiring multimedia news outlet, providing headline news, art, history, culture, health news, news alerts, and videos.
                    Community Zero journalists are subject to an Editorial Handbook which requires fair presentation and disclosure of relevant interests.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var site_url = "<?=SITE_URL ?>";
</script>
<?php
    $compiledScripts = array();

    array_push($compiledScripts, media_url('assets/scripts/vendor/jquery-1.7.1.min.js'));

    if(isset($scripts)) {
        $resource = '';
        foreach($scripts as $path) {
            array_push($compiledScripts, media_url($path));
        }
    }
    array_push($compiledScripts, media_url('assets/scripts/latestNewsAlerts.js'));
    array_push($compiledScripts, media_url('assets/scripts/main.js'));

    if(!isset($module)) {
        $module = 'base';
    }

    $scriptFile = 'assets/scripts/modules/' . $module . '/' . $module . '.js';
?>

<script type="text/javascript" src="<?=media_url($this->minifier->merge($scriptFile, 'assets/scripts/modules/' . $module, $compiledScripts));?>"></script>
<?php
    if(isset($inline_scripts) && !empty($inline_scripts)) {
        echo '<script type="text/javascript">'.$inline_scripts.'</script>';
    }
?>
<script type="text/javascript">
    (function($) {
        (function setMinimumWidth() {
            var wrapperWidth = 1100;
            var gutterWidth = Math.abs(wrapperWidth - screen.width);
            var width = screen.width - gutterWidth;
            $('body').css('minWidth', width);
        }());
    })(jQuery);
</script>
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-41763299-1', 'community-zero.com');
    ga('send', 'pageview');
</script>