<?=$header?>
<body <? if(isset($_COOKIE['responsive'])) { echo 'class="responsive"'; } ?>>
    <header class="mobile-header">
        <h1>Writer's Panel</h1>
        <label for="front-mobile-sidenav" class="open-menu">&#9776;</label>
        <input type="checkbox" id="front-mobile-sidenav" class="toggle-nav" />
        <span id="home-icon"><a href="<?=site_url()?>"><img src="<?=media_url('assets/images/home-icon.png')?>" alt="home icon" /></a></span>
        <?=$menu?>
    </header>
    <div id="wrapper" class="content">
        <?=$content?>
    </div>
    <?=$footer?>
</body>
</html>