<?=$header?>
<body <? if(isset($_COOKIE['responsive'])) { echo 'class="responsive"'; } ?>>
<header class="mobile-header front-mobile-header hide">
    <label for="front-mobile-sidenav" class="open-menu">&#9776;</label>
    <input type="checkbox" id="front-mobile-sidenav" class="toggle-nav" />
    <?=$side_menu ?>
    <h1>Community Zero</h1>
</header>
<noscript>
    <div class="nojs-warning warning-box" style="text-align: center;">
        <h3><b>For a better experience on Community Zero, please enable JavaScript in your browser.</b></h3>
    </div>
</noscript>
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<? if(isset($admin_bar)) echo $admin_bar; ?>
<div id="header-container">
    <div class="header-wrapper">
        <div class="clearfix">
            <div class="row">
                <div id="logo-id" class="col_8">
                    <div class="float-left" style="padding-bottom: 5px;">
                    <a href="<?=site_url()?>" style="text-decoration: none;">
                    <img src="<?=media_url('assets/images/community-zero-logo.png')?>" alt="community zero logo" /></a>
                    </div>
                </div>
                <div class="col_16">
                    <div style="margin-top: 25px;">
                        <div class="float-right">
                            <div class="float-left" style="padding: 5px;">
                                <? if($session['member'] == false) : ?>
                                    <ul id="login-options" class="panel-list">
                                        <li><a href="<?=site_url('login?type=fb')?>"><img src="<?=media_url('assets/images/fb-login-icon.png')?>" alt="social login" class="float-left" style="padding-right: 10px;" /></a>
                                            <!--<a href="<?=site_url('login?type=twitter')?>"><img src="<?=media_url('assets/images/twtr-login-icon.png')?>" alt="social login" class="float-left" style="padding-right: 10px;" /></a>-->
                                        <li><a href="<?=site_url('login')?>" id="signin-link">Sign In</a></li>
                                    </ul>
                                <? endif; ?>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
    <?=$menu?>
</div>
<div id="wrapper">
    <br />
    <? if ($newsAlerts == true) : ?>
        <div class="clearfix">
            <div class="breaking-news">
                <a id="breaking-news-path" class="hide" href="<?=site_url('services/breaking-news')?>"></a>
                <div class="breaking-news-left">LATEST NEWS</div>
                <div id="news-message"></div>
            </div>
        </div>
    <? endif; ?>
    <div class="clearfix">
        <div class="row">
            <? if($layout->type == "two_cols") : ?>
                <? if($layout->subtype == "article") : ?>
                <div class="col_16 col_100">
                <? else : ?>
                <div class="col_18 col_100">
                <? endif; ?>
                    <?=$content?>
                </div>
                <? if($layout->subtype == "article") : ?>
                <div id="main-sidebar" class="col_8">
                <? else : ?>
                <div id="main-sidebar" class="col_6">
                <? endif; ?>
                    <?=$sidebar?>
                </div>
            <? else :?>
                <div class="col_24">
                    <?=$content?>
                </div>
            <? endif; ?>
        </div>
    </div>
</div>
<?=$footer?>
</body>
</html>