#menuv-container {
    position: fixed;
    top: 63px;
    min-width: 200px;
    height: 100%;
    overflow-y: auto;
    transition: width 0.3s ease;
    z-index: 10;
    a, label {
        cursor: pointer;
        display: block;
        padding: 15px;
        &:hover, &:focus {

        }
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 34px;
    }
    label {
        position: relative;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
    }
}

.content {
    padding: 80px 20px 20px 20px;
    min-width: 1100px;
}

.close-menu {
    display: none;
}

.results-box {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

#menuv-container .top-navlink {
    font-weight: bold;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}

.admin-navarrow {
    position: absolute;
    right: 20px;
    top: 30px;
}

#menuv-container .subnav a {
    padding-left: 40px;
}

/* checkbox hack to enable pure css hide / show toggling */
#menuv-container .subnav {
    display: none;
}

#menuv-container input[type=checkbox]:checked.toggle-subnav ~ .subnav {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#menuv-container .toggle-subnav {
    display: none;
}

/* end checkbox hack */