.article-social-options {
    background-color: #efefef;
    padding: 5px;
    height: 20px;
}

.full-article,
.full-article p,
.full-article span,
.full-article div,
.full-article p span,
.full-article p div {
    font-family: Helvetica, Arial, Sans-serif !important;
    font-size: 15px !important;
    line-height: 28px !important;
}

.full-article p {
    margin: 0 0 10px 0;
    padding: 0;
}

.full-article p br {
    margin: 0;
    padding: 0;
    content: '';
}

.single-article .fb-like.article-bottom {
    display: block;
}

.single_comment_entity {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    border-bottom: 1px dotted #B9B9B9;
}

.single_comment_entity:last-child {
    border-bottom: none;
}

.single_container {
    text-align: center;
    margin-bottom: 4px;
    border: 1px solid #B9B9B9;
}

.image-container {
    margin-right: 10px;
}

.image-caption {
    font-size: 12px;
    margin-bottom: 15px;
}

.author-desc {
    font-size: 12px;
    color: gray;
}

.comment_profile_img {
    width: 32px;
    height: 32px;
}

.comment-position {
    position: relative;
    float: left;
    width: 100%;
}

#post-box-bottom {
    display: none;
    clear: both;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    height: 30px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    background-color: beige;
}

#post-box-news-bottom {
    display: none;
    margin-top: -5px;
    padding-top: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    height: 30px;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    background-color: beige;
}

.comment-member-container {
    padding-right: 15px;
    width: 10%;
}

.comment-member-icon {
    width:50px;
    height: 50px;
}

a.close-menu:hover {
    text-decoration: none;
}

a.category-title {
    color: #fff;
}

a.category-title:hover {
    color: #fff;
}

a.category-title h4 {
    color: #fff;
    background-color: #3f4245;
}

a.category-title h4 b {
    padding-left: 5px;
}

.article-primary-image {
    width: 700px;
    height: 400px;
}

.group {
    border: 1px solid #CCC;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px; /* future proofing */
    background-color: #fff;
}

.group::before,
.group::after {
    content:"";
}

.group::after {
    clear:both;
}
