.button (@bgColorNormal: #4479BA, @bgColorHover: #356094, @bgColorActive: #2E5481,
    @borderColorNormal: #20538D, @borderColorHover: #2A4E77, @borderColorActive: #203E, @fontColor: #FFF) {
    background: @bgColorNormal;
    font-weight: bold;
    color: @fontColor;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px @borderColorNormal;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

    &:hover {
        background: @bgColorHover;
        color: @fontColor;
        border: solid 1px @borderColorHover;
        text-decoration: none;
    }

    &:active, &:disabled{
        -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
        background: @bgColorActive;
        border: solid 1px @borderColorActive;
        color: @fontColor;
    }
}

input[type="submit"], input[type="button"], button, .button {
    font-size: 16px;
    padding: 5px 18px;
    .button(#f24537, #CF0000, #BF0000, #CF0000, #BF0000, #BF0000);
}

#signup {
    width: 150px;
    color: #fff;
    font-size: 18px;
    padding: 10px 16px;
    .button(#00c44e, #14893d, #14893d, #14893d, #14893d, #14893d);
}

#login-button {
    padding: 7px 25px 7px 25px;
    font-size: 18px;
    .button(#333366, #25253D, #25253D, #25253D, #25253D, #25253D);
}