#footer {
    background-color: #0d0d0d;
    color: #fff;
    position: relative;
    text-align: left;
    margin-top: 20px;
}

#footer-inner-top {
    background-color: #333333;
    padding: 5px;
}

#footer-inner-bottom {
    padding-top: 10px;
}

#inside-footer {
    text-align: left;
    margin: 0 auto;
}

#footer a.white-text {
    color: #fff;
}

#footer a:hover {
    text-decoration: underline;
}

#footer-inner-bottom ul.panel-list {
    display: inline-block;
    margin-bottom: 20px;
}