#register-form input[type="text"]:required:invalid ,
input[type="email"]:required:invalid ,
input[type="url"]:required:invalid ,
input[type="number"]:required:invalid {
    background-image: none;
}

#register-form label {
    font-weight: bold;
    font-size: 18px;
    color: #534E4D;
    padding-right: 5px;
    margin-bottom: 4px;
}

.large-form input:not([type="submit"]) {
    font-size: 16px;
    padding: 8px 10px;
}

.input-item {
    margin-bottom: 8px;
}

.input-item:last-child {
    margin-bottom: 3px;
}

.input-container {
    border: 1px solid silver;
    background: #f9f9f9;
    padding: 0;
    width: 270px;
}

.input-container #search-field,
.input-container #search-field input:hover,
.input-container #search-field input:active {
    border: none;
    margin: 0;
}
