.width-300 {
    width: 500px;
    margin-bottom: 10px;
}

.border-container {
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
}

.hide {
    display: none;
}

.center {
    position: relative;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.inner {
    padding: 20px;
    text-align: left;
}

.break-word {
    word-wrap:break-word;
}

.headline-thumb {
    width: 158px !important;
    height: 107px !important;
}

.headline-medium {
    height: 250px !important;
}

.splash-category-thumb {
    width: 225px;
}

.text-glow {
    text-shadow: #EEEE00 0 0 10px;
    text-decoration: underline;
}

.searchbox {
    border: 1px solid silver;
    width: 230px;
}

#searchwrapper {
    padding: 0;
    margin: 0;
    position: relative;
}

#searchwrapper .input-container {
    width: 170px;
}

.searchbox-submit {
    position: absolute;
    right: 0;
    height: 29px;
    top: 1px;
}

.breaking-news {
    float: left;
    width: 100%;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}

.breaking-news-left {
    background-color: orange;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: #000;
    float: left;
}

#login-options a {
    font-weight: bold;
}

#news-message {
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    color: #444;
    float: left;
}

.text-red {
    color: red;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.bold-text {
    font-weight: bold;
}

.right {
    position: relative;
    right: 0;
}

.center {
    position: relative;
    display: block;
    text-align: center;
    margin: auto 0;
}

.left-block,
.middle-block,
.right-block {
    display: inline-block;
    vertical-align: middle;
}

.left-block {
    left: 0;
}

.middle-block {
    margin: 0 auto;    
}

.right-block {
    right: 0;
}

.space_10 {
    padding: 10px;
}
.space_20 {
    padding: 20px;
}
.space_30 {
    padding: 30px;
}
.space_40 {
    padding: 40px;
}

/* borders */
.all-borders { border: 1px solid gray; }
.border-top { border-top: 1px solid gray; }
.border-bottom { border-bottom: 1px solid gray; }
.border-left { border-left: 1px solid gray; }
.border-right { border-right: 1px solid gray; }

.border-item {
    border-bottom: 5px solid #EEE;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.dim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: url('/assets/images/dim.png');
    display: none;
    text-align: left;
}

.close {
    position:absolute;
    top: -10px;
    right: -10px;
    z-index: 999;
    cursor:pointer;
}

.popbox {
    position: fixed;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    height: 200px;
    z-index: 999;
    border: 5px solid #222;
    background: white;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}

.h-break {
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    padding: 5px;
    color: #FFFFFF;
    position: relative;
    background-color: #666666;
    height: 15px;
}

.ast {
    color: red;
    font-size: 20px;
}

.col {
    text-align: left;
}

.captcha {
    background-color: #122061;
    width: 250px;
    padding: 15px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.resizable-textarea {
    display: block;
}

.required {
    color: red;
}

.warning-sign {
    height: 30px;
    background: url('/assets/images/warning-sign.jpg') no-repeat;
}

.img-outer-container {
    position: relative;
    float: left;
    border: 1px solid #ccc;
    padding: 3px;
    margin-right: 10px;
    margin-bottom: 2px;
    background-color: #fff;
}
.img-inner-container {
    position: relative;
    background-color: #ddd;
    width: 196px;
    height: 196px;
}
.desc-text {
    font-size: 11px;
    color: #888;
}

.float-left {
    float: left;
}

.space-5 {
    padding:5px;
}

.box {
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.inner {
    padding: 10px;
}

.lb-border {
    border-bottom: 1px solid #ccc;
}

.uppercase {
    text-transform:uppercase;
}

.create-button-container {
    position: relative;
    float: right;
    right: 20px;
}

.no-margin {
    margin: 0 !important;
}

.center-text {
    text-align: center;
}

.line-border {
    border-bottom: 5px solid #EEE;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.indent {
    text-indent: 2em;
}
