/*
*
*  Golden Grid System (1.01)    <http://goldengridsystem.com/>
*  by Joni Korpi                <http://jonikorpi.com/>
*  licensed under MIT           <http://opensource.org/licenses/mit-license.php>
*
*/

@import 'functions.less';
@import 'mixins.less';

.col {
    float: left;
    margin-right: @col-margin-right;
    min-height: 1px;
    &:extend(.transition-all);
    &:extend(.border-box);
}

//last class for fallback, and for IE when needed.
.last {
    margin-right: 0;
}

.row {
    width: @rowWidth;
    &:extend(.border-box); //margin: remember that this will be exclusive to media queries still, as it depends on the resolution!
    .generate-grid(@column-selector-number-at-end, @col-identifier-named-numbers) when (@col-identifier-named-numbers = true), (@column-selector-number-at-end = false) {
        .setGrid(@index) when (@index >= 1) {
            @name: extract(@col-names, @index); //gives something like "six"
            .@{col-identifier}@{name} {
                width: (@col-unit * @index - @col-margin-right);
                &:extend(.col);
            }
            //alternative to not having a .last class:
            .@{col-identifier}@{name}:last-child {
                &:extend(.last);
            }
            .setGrid(@index - 1);
        }
        .setGrid(0) {}
        .setGrid(@num-cols);
    }
    .generate-grid(@column-selector-number-at-end, @col-identifier-named-numbers);
}

.border-box() {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://sonspring.com/journal/clearing-floats */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*
*
*  Margin, padding, and border resets
*  except for form elements
*
*/


/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    min-height: 100%;
    font-size: 100%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, audio, canvas, video {
    display: block;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
b, strong {
    font-weight: bold;
}
abbr[title] {
    border-bottom: 1px dotted;
}
input, textarea, button, select {
    margin: 0;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
textarea {
    overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


// Simple fluid media

figure {
    position: relative;
}
figure img, figure object, figure embed, figure video {
    max-width: 100%;
    display: block;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}


// Zoomable baseline grid type size presets

.small {
    /* 13px / 18px */
    font-size: (@font-size*0.8125) / @em;
    line-height: (@line*0.75) / (@font-size*0.8125) * 1em;
}

h1 {
    /* 26 / 36px */
    font-size: 34 / @em;
    line-height: (@line*1.5) / 34 * 1em;
}

h2 {
    /* 26 / 36px */
    font-size: 26 / @em;
    line-height: (@line*1.5) / 26 * 1em;
}

h3 {
    /* 26 / 36px */
    font-size: 20 / @em;
    line-height: (@line*1.5) / 24 * 1em;
}

.normal, h4 {
    /* 16px / 24px */
    font-size: @font-size / @em;
    line-height: @line / @em; /* 24 */
}

.huge {
    /* 42px / 48px */
    font-size: 42 / @em;
    line-height: (@line*2) / 42 * 1em;
}

h1, h2 {
    // originally margin: (24/26*1em) 0 (36/26*1em);
    margin: (4/26*1em) 0 (12/26*1em);
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

h3 {
    // originally margin: (24/@em) 0 (24/@em);
    margin: (12/@em) 0 (12/@em);
    font-weight: normal;
}

/*
*  Simple elastic gutters
*  Note: box-sizing will not work in IE6-7
*/

.wrapper {
    padding: 0 (@line/2)/@em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
*  Fixes for IE6-8
*  http://jonikorpi.com/leaving-old-IE-behind/
*
*/

.ie body {
    width: 640/@em;
    margin: 0 auto;
    font-size: (@font-size + 1) / @em;
}

.ie h1 {
    .huge();
    margin: (48/42*1em) 0 (24/42*1em);
}