@import 'mixins.less';

#front-mobile-sidenav,
.front-main-header {
    display: none;
}

.mobile-header {
    background: #000;
    padding: 5px;
    text-align: center;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    min-width: 500px;
    z-index: 800;
    transition: all 0.3s ease;
    .user-select(none);
}

.mobile-header .open-menu,
.mobile-header .close-menu {
    position: absolute;
    left: 20px;
    top: 10px;
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.mobile-header #home-icon {
    position: absolute;
    left: 70px;
    top: 10px;
    color: white;
    cursor: pointer;
}