#menuh-container {
    width: 100%;
    height: 38px;
    border-bottom: 4px solid red;
    background: #111;
}

#menuh {
    float: left;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
}

#menuh a {
    text-align: center;
    display:block;
    font-weight: bold;
    white-space:nowrap;
    text-decoration: none;
    margin:0;
    padding: 0.3em;
}

#menuh a:link, #menuh a:visited, #menuh a:active {
    text-decoration:none;
}

#menuh a:hover {
    color: #000;
    text-decoration:none;
}

#menuh ul li a {
    color: #f5f5f5;
}

#menuh ul li ul li a {
    color: #000;
    background-color: #f5f5f5;
}

#menuh a.top_parent    /* attaches down-arrow to all top-parents */ {
    border-left: 1px solid #8d8d8d;
}

#menuh a.top_parent:hover    {
    background-color: #f5f5f5;
    border-top: 1px solid #000;
    /*background-image: url(../img/navdown_black.png);
    background-position: right center;
    background-repeat: no-repeat;*/
}

#menuh > ul li a.top_parent {
    /*background-image: url(../img/navdown_white.gif);
    background-position: right center;
    background-repeat: no-repeat;*/
}

#menuh ul li ul li a:hover ~ ul li a.top_parent {
    background-image: url(../img/navdown_black.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#menuh ul:last-child li a.top_parent {
    border-right: 1px solid #8d8d8d;
}

#menuh li ul li:hover {
    color: #fff;
    background-image: url(../img/navdown_black.png) !important;
    background-position: right center;
    background-repeat: no-repeat;

}

/* attaches side-arrow to all parents */
#menuh a.parent, #menuh a.parent:hover {
    background-color: #f5f5f5;
    color: #000;
    background-image: url(../img/navright-black.png);
    background-position: 95% 50%;
    background-repeat: no-repeat;
}

#menuh ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
    width:9em;    /* width of all menu boxes */
}

#menuh li {
    list-style:none;
    position:relative;
    margin: 0 !important;
    min-height: 1px;    /* Sophie Dennis contribution for IE7 */
    vertical-align: bottom;     /* Sophie Dennis contribution for IE7 */
}

#menuh ul ul {
    position:absolute;
    z-index:500;
    min-width: 150px;
    top:auto;
    display:none;
    padding: 1em;
    margin:-1em 0 0 -1em;
}

#menuh ul ul ul {
    top:0;
    left:100%;
}

#menuh ul ul li {
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
}

#menuh ul ul li:last-child{
    border-bottom: 1px solid #666666;
}

div#menuh li:hover {
    cursor:pointer;
    z-index:100;
}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
{display:none; }

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
{display:block;}

/* End CSS Drop Down Menu */