ul li.article-item:last-child {
    border-bottom: none !important;
}

ul li.article-item {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B9B9B9;
    margin: 0 0 20px 0;
}

ul li.category-preview {
    list-style-type: none;
    margin: 0;
    border-bottom: 5px solid #EEE;
    padding-bottom: 25px;
    margin-bottom: 35px;
}

ul li.category-preview:last-child {
    border-bottom: none;
}

ul.panel-list li {
    list-style-type: none;
    float: left;
    display: inline;
    padding: 0 7px;
    margin: 0;
    border-right: 2px solid #666;
}


ul.panel-list li:last-child {
    list-style-type: none;
    float: left;
    display: inline;
    padding: 0 7px;
    margin: 0;
    border-right: none;
}

ul.no-list li {
    list-style: none;
}

ul.no-list li:last-child {
    border-bottom: none;
}

ul.no-list {
    margin: 0;
    padding: 0;
}

ul.no-list li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.roman-type li {
    list-style-type: upper-roman;
}