.massive, button.massive {
    height: 170px;
    width: 170px;
    padding: 0;
    border: 0;
    position: relative;
    background-position: center center;
}

button.facebook > i, button.twitter > i, button.myspaceoriginal > i, button.emaillogin > i {
    background-position: center center;
    background-repeat: no-repeat;
}

button.massive > i {
    -webkit-transition: background-position .5s ease-out;
    -moz-transition: background-position .5s ease-out;
    transition: background-position .5s ease-out;
}

.vertical-border-separator {
    border-right: 1px dotted #ccc;
    height: 200px;
    padding-left: 20px;    
    padding-right: 20px;
}

.facebook_170 {
    display: inline-block;
    width: 170px;
    height: 170px;
    background-image: url("/assets/images/facebook-login-logo.png");
}

.twitter_170 {
    display: inline-block;
    width: 170px;
    height: 170px;
    background-image: url("/assets/images/twitter-login-logo.png");
}

button > i, button > span, .button > i, .button > span {
    vertical-align: middle;
}

.thirdParty > button:not(:first-child) {
    margin-left: 20px;
}

i.twitter, button.twitter {
    background-color: #1BB5E7;
}

i.facebook, button.facebook {
    background-color: #3B5997;
}