@import 'reset.less';
@import 'golden-grid.less';

@import 'mixins.less';

@import 'normalize.less';

@import 'buttons.less';
@import 'forms.less';
@import 'lists.less';

@import 'headers.less';
@import 'footers.less';

@import 'vertical-nav.less';
@import 'horizontal-nav.less';
@import 'userbar.less';

@import 'articles.less';
@import 'generic.less';

@import 'login.less';

html, body {
    height: 100%;
    width: 100%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Helvetica,Arial,Sans-serif;
    font-size: 15px;
    line-height: 28px;
    text-align: left;
}

#admin-panel-wrapper {
    width: 1100px;
    position: relative;
    margin: 0 auto;
}

#header-container {
    padding-top: 30px;
    width: 100%;
    background-color: #2E0854;    
}

.header-wrapper {
    margin-top: 4px;
    width: 1100px;
    position: relative;
    margin: 0 auto;
}

.header-wrapper,
.header-wrapper a {
    color: #fff;
}

#wrapper {
    width: 1100px;
    min-height: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.block-wrapper {
    width: 1100px;
    position: relative;
    margin: 0 auto;
}

.no-underline {
    text-decoration: none;
}

.width-100 {
    width: 100%;
    .border-box();
}

section.table {
    display: table;
}

div.table-row {
    display: table-row;
}

div.table-cell {
    display: table-cell;
    vertical-align: top;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
}

#mailing-list-container {
    border: 1px solid #ccc;
    padding: 15px;
    .border-radius(5px);
}

#search-button {
    background: url("../img/search.png") no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 25px;
    height: 25px;
    border: none;
}

.lb-bottom {
    margin-bottom: 3px;
}

.lb {
    border-bottom: 1px solid #B9B9B9;
}

.lb-dotted {
    border-bottom: 1px dotted #B9B9B9;
    margin-bottom: 10px;
}

.warning-box {
    padding: 15px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #FDD017;
    background-color: #FAF8CC;
    color: #000000;
}

.nojs-warning.warning-box {
    padding: 0;
}

.post-box {
    width:428px;
    resize: none;
    float: left;
    position: relative;
    z-index: 10;
    margin-top: -1px;
}

.textarea-noresize {
    resize: none;
}

.register_container {
    position: relative;
    z-index: 900;
    width: auto;
}

.arrow-up {
    width: 0;
    height: 0;
    margin-top: 10px;
    margin-right: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
}

.active {
    display: block;
}

#signin-buttons-container {
    position: absolute;
    z-index: 900;
    background: #fff;
    float: left;
    top: 20px;
    left: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    display: none;
}

.success-box {
    padding: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #338800;
    background-color: #c7f7be;
    color: #000000;
    max-width: 600px;
}

.error-box {
    padding: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #FF2200;
    background-color: #FFDDBB;
    color: #000000;
    max-width: 600px;
}

.admin-top-panel {
    position: relative;
    background: #ff0509; /* Old browsers */
    background: -moz-linear-gradient(top,    #ff0509 0%, #c60307 45%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0509),
    color-stop(45%,#c60307), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,    #ff0509 0%,#c60307 45%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,    #ff0509 0%,#c60307 45%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,    #ff0509 0%,#c60307 45%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(to bottom,    #ff0509 0%,#c60307 45%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0509', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    color: #fff;
    font-weight: bold;
    height: 35px;
    width: 100%;
}

.admin-top-panel a {
    color: #fff;
}