#profile-image-form-container {
    position: absolute;
    left: 0;
    z-index: 900;
    top: -20px;
}

.file-wrapper {
    width: 150px;
    position: absolute;
    left: 5px;
    top: 25px;
}

.profile-title-name {
    margin-top: 15px;
    margin-bottom: 20px;
}

.overlap-upload-image-link > div {
    padding-left: 15px;
}

.file-input {
    width: 150px;
}

table.table-1 {
    width: 100%;
    border-width: 0;
    border-spacing: 0;
    border-style: none;
    border-color: gray;
    border-collapse: collapse;
    background-color: #fff;
}

table.table-1 td.col-1,
table.table-1 td.col-2 {
    width: 50%;
    border-width: 1px;
    padding: 5px;
    border-style: inset;
    border-color: gray;
    background-color: #fffff0;
}