@import 'mixins.less';
@import 'variables.less';

input[type=checkbox]:checked.toggle-nav ~ #menuv-container {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Desktop styles */
@media only screen and (min-width: 801px) {
    .responsive .d-hide {
        display: none;
    }
}

/* Tablet styles */
@media only screen and (max-width: 800px) and (min-width: 569px) {
    .responsive #wrapper {
        padding: 40px 20px;
    }

    .responsive #wowslider-container1 {
        max-width: 548px;
    }

    .responsive .t-hide {
        display: none;
    }
}

/* Tablet and Phone styles */
@media only screen and (max-width: 800px) {

    .responsive #wrapper,
    .responsive #header-wrapper,
    .responsive #menuh-container .block-wrapper,
    .responsive .block-wrapper,
    .responsive .content {
        width: auto;
        min-width: 0;
    }

    .responsive #wrapper {
        height: auto;
    }

    .responsive .front-mobile-header {
        display: block;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .responsive .col_100 {
        width: 100%;
        margin: 0;
    }

    .responsive #header-wrapper,
    .responsive #main-sidebar,
    .responsive #menuh-container,
    .responsive #admin-bar,
    .responsive #logo-id,
    .responsive #lock-image,
    .responsive #footer ul.panel-list,
    .responsive .breaking-news,
    .responsive .category-preview-image,
    .responsive .headline-article-sidebar,
    .responsive .article-thumbnail {
        display: none;
    }

    .responsive .t-m-hide {
        display: none;
    }

    .responsive .t-m-clear {
        float: none;
    }

    .responsive #menuv-container {
        display: none;
        position: fixed;
        z-index: 900;
        min-width: 200px;
        height: 100%;
        top: 63px;
        left: 0;
        border: 0;
        background: whitesmoke;
        box-shadow: 5px 5px 5px #888888;
        overflow-y: auto;
        transition: width .3s ease;
        text-align: left;
    }

    .responsive #menuv-container a {
        display: block;
        width: 100%;
        background: whitesmoke;
        border-top: 1px solid #CCC;
        padding: 10px 0 10px 15px;
        margin: 0;
        cursor: pointer;
        &:hover, &:focus {
            background: #ccc;
            text-decoration: none;
        }
        &:last-child {
            border-top: 0;
            border-bottom: 1px solid #CCC;
        }
    }

    .responsive .login-container {
        margin-top: 0;
        width: 100%;
    }

    .responsive .registration-container {
        border: 1px solid #ccc;
        padding: 10px;
    }
}

/* Phone styles */
@media only screen and (max-width: 568px) {
    .responsive #wrapper {
        padding: 40px 10px;
    }

    .responsive #menuv-container {
        top: 50px;
    }

    .responsive #wowslider-container1,
    .responsive .comment-member-container,
    .responsive ul.headline-article-sidebar li:first-child {
        display: none;
    }

    .responsive .m-hide {
        display: none;
    }

    .responsive h1 {
        font-size: 26 / @em;
        line-height: (@line*1.5) / 34 * 1em;
    }

    .reponsive h2 {
        font-size: 20 / @em;
        line-height: (@line*1.5) / 26 * 1em;
    }

    .responsive h3 {
        font-size: 14 / @em;
        line-height: (@line*1.5) / 24 * 1em;
    }

    .responsive .normal, h4 {
        font-size: @font-size / @em;
        line-height: @line / @em;
    }
}

@media only screen and (max-width: 400px) {
    .responsive .front-mobile-header {
        text-align: left;
    }

    .responsive .front-mobile-header h1 {
        margin-left: 12%;
    }
}