#admin-bar,
#admin-bar a {
    color:#fff;
}
#admin-bar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width:600px;
    z-index:99999;
    background:#111;
    border-bottom: 1px solid #333;
    line-height: 30px;
}
#admin-bar ul li:before,
#admin-bar ul li:after {
    content:normal;
}
#admin-bar a,
#admin-bar a:hover,
#admin-bar a img,
#admin-bar a img:hover {
    outline:0;
    text-decoration:none;
    border:0;
}
#admin-bar .quicklinks a.top-header-link,
#admin-bar ul li.top-header-link {
    padding-right: 30px;
}
#admin-bar ul li#wp-admin-bar-my-account {
    padding-left: 5px;
}
#admin-bar a:focus,
#admin-bar a:active,
#admin-bar input[type="text"],
#admin-bar input[type="password"],
#admin-bar input[type="number"],
#admin-bar input[type="search"],
#admin-bar input[type="email"],
#admin-bar input[type="url"],
#admin-bar select,
#admin-bar textarea,
#admin-bar div {
    outline:0;
}
#admin-bar ul li #my-account-link.ab-item {
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}
#admin-bar ul li #my-account-link.ab-item .avatar-mini {
    vertical-align: text-bottom;
}
#admin-bar .no-member-search {
    margin-right: 129px;
}
#admin-bar .ab-sub-wrapper,
#admin-bar ul,
#admin-bar ul li{
    background:0;
    clear:none;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    text-indent:0;
    z-index:99999;
}
#admin-bar .quicklinks{
    border-left: 1px solid transparent;
}
#admin-bar .quicklinks ul {
    text-align:left;
}
#admin-bar li {
    float:left;
}
#admin-bar .ab-empty-item{
    outline:0;
}
#admin-bar .quicklinks .ab-top-secondary>li{
    float: left;
}
#admin-bar .quicklinks .ab-top-secondary{
    float:right;
}
#admin-bar .quicklinks a,
#admin-bar .quicklinks .ab-empty-item,
#admin-bar .shortlink-input{
    height:28px;
    display:block;
    padding:0 12px;
    margin:0;
}
#admin-bar .menupop .ab-sub-wrapper,
#admin-bar .shortlink-input{
    margin:0 0 0 -1px;padding:0;
    -webkit-box-shadow:0 4px 4px rgba(0,0,0,0.2);
    box-shadow:0 4px 4px rgba(0,0,0,0.2);
    background:#fff;
    display:none;
    position:absolute;
    float:none;
    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color:#dfdfdf;
}
#admin-bar.ie7 .menupop .ab-sub-wrapper,
#admin-bar.ie7 .shortlink-input {
    top:28px;
    left:0;
}
#admin-bar .ab-top-menu > .menupop > .ab-sub-wrapper {
    min-width:100%;
}
#admin-bar .ab-top-secondary .menupop .ab-sub-wrapper {
    right:0;
    left:auto;
    margin:7px -1px 0 0;
    background-color: #111;
    color: #fff;
}
#admin-bar .ab-sub-wrapper > .ab-submenu:first-child {
    border-top:0;
}
#admin-bar .ab-submenu {
    padding:6px 0;
    border-top:1px solid #dfdfdf;
}
#admin-bar .selected .shortlink-input{
    display:block;
}
#admin-bar .quicklinks .menupop ul li{
    float:none;
}
#admin-bar .quicklinks .menupop ul li a strong{
    font-weight:bold;
}
#admin-bar .quicklinks .menupop ul li .ab-item,
#admin-bar .quicklinks .menupop ul li a strong,
#admin-bar .quicklinks .menupop.hover ul li .ab-item,
#admin-bar.nojs .quicklinks .menupop:hover ul li .ab-item,
#admin-bar .shortlink-input{
    line-height:26px;
    height:26px;
    text-shadow:none;
    white-space:nowrap;
    min-width:140px;
}
#admin-bar .shortlink-input{
    width:200px;
}
#admin-bar.nojs li:hover > .ab-sub-wrapper,
#admin-bar li.hover>.ab-sub-wrapper{display:block}
#admin-bar .menupop li:hover>.ab-sub-wrapper,
#admin-bar .menupop li.hover>.ab-sub-wrapper{
    margin-left:100%;
    margin-top:-33px;
    border-width:1px;
}
#admin-bar.nojs .ab-top-menu>li.menupop:hover>.ab-item,
#admin-bar .ab-top-menu>li.menupop.hover>.ab-item {
    background:#fff;
    color:#333;
    text-shadow:none;
    border-right-color:transparent;
    border-left-color:transparent;
}
#admin-bar .hover .ab-label,
#admin-bar.nojq .ab-item:focus .ab-label{color:#fafafa}
#admin-bar .menupop.hover .ab-label{color:#333;text-shadow:none}
#admin-bar .ab-submenu .ab-item{color:#333;text-shadow:none}
#admin-bar .quicklinks .menupop ul li a,#admin-bar .quicklinks .menupop ul li a strong,
#admin-bar .quicklinks .menupop.hover ul li a,
#admin-bar.nojs .quicklinks .menupop:hover ul li a{color:#fff}
#admin-bar .menupop .menupop>.ab-item{display:block;
background-image:url(../img/admin-bar-sprite.png?d=20120830);
background-position:95% -20px;background-repeat:no-repeat;padding-right:2em}
#admin-bar .ab-top-secondary .menupop .menupop>.ab-item{
background-image:url(../img/admin-bar-sprite.png?d=20120830);
background-position:5% -46px;background-repeat:no-repeat;padding-left:2em;padding-right:1em}
#admin-bar .quicklinks .menupop ul.ab-sub-secondary {
    display:block;
    position:relative;
    right:auto;
    margin:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#admin-bar .quicklinks .menupop .ab-sub-secondary>li:hover,
#admin-bar .quicklinks .menupop .ab-sub-secondary>li.hover,
#admin-bar .quicklinks .menupop .ab-sub-secondary>li .ab-item:focus{background-color:#dfdfdf}
#admin-bar .quicklinks a span#ab-updates{background:#eee;color:#333;text-shadow:none;
display:inline;padding:2px 5px;font-size:10px;font-weight:bold;
-webkit-border-radius:10px;border-radius:10px}
#admin-bar .quicklinks a:hover span#ab-updates{background:#fff;color:#000}
#admin-bar ul li:last-child,
#admin-bar ul li:last-child .ab-item{border-right:0;-webkit-box-shadow:none;box-shadow:none}
#wp-admin-bar-my-account>ul{min-width:198px}
#wp-admin-bar-my-account.with-avatar>ul{min-width:270px}
#admin-bar #wp-admin-bar-user-actions>li{margin-left:16px;margin-right:16px}
#admin-bar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li{margin-left:88px}
#wp-admin-bar-user-actions>li>.ab-item{padding-left:8px}
#admin-bar #wp-admin-bar-user-info{margin-top:6px;margin-bottom:15px;height:auto;background:0}
#wp-admin-bar-user-info .avatar{position:absolute;left:-72px;top:4px;width:64px;height:64px}
#admin-bar #wp-admin-bar-user-info a{background:0;height:auto}
#admin-bar #wp-admin-bar-user-info span{background:0;padding:0;height:18px}
#admin-bar #wp-admin-bar-user-info .display-name,#admin-bar #wp-admin-bar-user-info .username{
    text-shadow:none;
    display:block;
}
#admin-bar #wp-admin-bar-user-info .display-name{color:#fff}
#admin-bar #wp-admin-bar-user-info .username{color:#fff;font-size:12px}
#admin-bar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img{
    width:16px;
    height:16px;
    border:1px solid #999;
    padding:0;
    background:#eee;
    line-height:24px;
    vertical-align:middle;
    margin:-3px 0 0 6px;
    float:none;display:inline;
}
#admin-bar .quicklinks li .blavatar{vertical-align:middle;margin:-3px 4px 0 0;padding:0}
#admin-bar .quicklinks li div.blavatar{
background:url('../img/wpmini-blue.png') no-repeat;height:16px;width:16px;display:inline-block}
#admin-bar #wp-admin-bar-search .ab-item{padding:0}
#admin-bar #wp-admin-bar-search .ab-item{background:transparent}
#admin-bar #adminbarsearch{height:28px;padding:0 2px}
#admin-bar #adminbarsearch .adminbar-input{font:13px/24px sans-serif;height:24px;width:24px;
border:0;padding:0 3px 0 23px;margin:0;color:#ccc;text-shadow:#444 0 -1px 0;
background-color:rgba(255,255,255,0);background-image:url(../img/admin-bar-sprite.png?d=20120830);
background-position:3px 2px;background-repeat:no-repeat;outline:0;cursor:pointer;
-webkit-border-radius:3px;border-radius:3px;-webkit-box-shadow:none;box-shadow:none;
-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
-ms-box-sizing:border-box;box-sizing:border-box;
-webkit-transition-duration:400ms;
-webkit-transition-property:width,background;
-webkit-transition-timing-function:ease;
-moz-transition-duration:400ms;
-moz-transition-property:width,background;
-moz-transition-timing-function:ease;
-o-transition-duration:400ms;-o-transition-property:width,background;-o-transition-timing-function:ease;
}
#admin-bar.ie7 #adminbarsearch .adminbar-input {
    margin-top:1px;
    width:120px;
}
#admin-bar #adminbarsearch .adminbar-input:focus {
    color:#555;
    text-shadow:0 1px 0 #fff;
    width:200px;
    background-color:rgba(255,255,255,0.9);
    cursor:text;
}
#admin-bar.ie8 #adminbarsearch .adminbar-input {
    background-color:#464646;
}
#admin-bar.ie8 #adminbarsearch .adminbar-input:focus {
    background-color:#fff;
}
#admin-bar #adminbarsearch .adminbar-input::-webkit-input-placeholder{color:#ddd}
#admin-bar #adminbarsearch .adminbar-input:-moz-placeholder{color:#ddd}
#admin-bar #adminbarsearch .adminbar-button{display:none}
#admin-bar #wp-admin-bar-appearance{border-top:0;margin-top:-12px;}
#admin-bar #wp-admin-bar-appearance{border-top:0;margin-top:-12px;}
#admin-bar .ab-icon {
    position:relative;
    float:left;
    width:16px;
    height:16px;
    margin-top:6px;
}
#admin-bar .ab-label{margin-left:4px}
#wp-admin-bar-wp-logo>.ab-item .ab-icon {
    width:20px;
    height:20px;
    margin-top:4px;
    background-image: url(../img/admin-bar-sprite.png?d=20120830);
    background-position: 0 -76px;
    background-repeat:no-repeat;
}
#admin-bar.nojs #wp-admin-bar-wp-logo:hover > .ab-item .ab-icon,
#admin-bar #wp-admin-bar-wp-logo.hover>.ab-item .ab-icon{
    background-position:0 -104px;
}
#wp-admin-bar-updates>.ab-item .ab-icon {
    background-image:url(../img/admin-bar-sprite.png?d=20120830);
    background-position:-2px -159px;background-repeat:no-repeat;
}
#wp-admin-bar-comments>.ab-item .ab-icon {
    background-image:url(../img/admin-bar-sprite.png?d=20120830);
    background-position:-1px -134px;background-repeat:no-repeat
}
#admin-bar span.count-0{display:none}
#admin-bar #wp-admin-bar-new-content>.ab-item .ab-icon{
    background-image:url(../img/admin-bar-sprite.png?d=20120830);
    background-position:-2px -182px;background-repeat:no-repeat;
}
#admin-bar.nojs #wp-admin-bar-new-content:hover>.ab-item .ab-icon,
#admin-bar #wp-admin-bar-new-content.hover > .ab-item .ab-icon{
    background-position:-2px -203px;
}
.no-customize-support .hide-if-no-customize,
.customize-support .hide-if-customize,
.no-customize-support.wp-core-ui .hide-if-no-customize,
.no-customize-support .wp-core-ui .hide-if-no-customize,
.customize-support.wp-core-ui .hide-if-customize,
.customize-support .wp-core-ui .hide-if-customize{
    display:none;
}

@media print,
(-o-min-device-pixel-ratio:5/4),
(-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dppx) {
    #admin-bar .menupop .menupop>.ab-item,
    #admin-bar .ab-top-secondary .menupop .menupop>.ab-item,
    #admin-bar #adminbarsearch .adminbar-input,
    #wp-admin-bar-wp-logo>.ab-item .ab-icon,
    #wp-admin-bar-updates>.ab-item .ab-icon,
    #wp-admin-bar-comments>.ab-item .ab-icon,
    #admin-bar #wp-admin-bar-new-content>.ab-item .ab-icon{
        background-image:url(../img/admin-bar-sprite-2x.png?d=20120830);
        background-size:20px 220px;
    }
    #admin-bar .quicklinks li div.blavatar{
        background:url('../img/wpmini-blue-2x.png') no-repeat;
        background-size:16px 16px;
    }
}
#admin-bar .screen-reader-text,
#admin-bar .screen-reader-text span {
    position:absolute;
    left:-1000em;
    top:-1000em;
    height:1px;
    width:1px;
    overflow:hidden;
}
#admin-bar .screen-reader-shortcut{
    position:absolute;
    top:-1000em;
}
#admin-bar .screen-reader-shortcut:focus {
    left:6px;
    top:7px;
    height:auto;
    width:auto;
    display:block;
    font-size:14px;
    font-weight:bold;
    padding:15px 23px 14px;
    background:#f1f1f1;
    color:#21759b;
    text-shadow:none;
    border-radius:3px;
    z-index:100000;
    line-height:normal;
    -webkit-box-shadow:0 0 2px 2px rgba(0,0,0,.6);
    box-shadow:0 0 2px 2px rgba(0,0,0,.6);
    text-decoration:none;
}
* html #admin-bar{overflow:hidden;position:absolute}
* html #admin-bar .quicklinks ul li a{float:left}
* html #admin-bar .menupop a span{background-image:none}