input[type=checkbox]:checked.toggle-nav ~ #menuv-container {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
#menuv-container {
    display: none;
    position: fixed;
    z-index: 900;
    min-width: 200px;
    height: 100%;
    top: 63px;
    left: 0;
    border: 0;
    background: whitesmoke;
    box-shadow: 5px 5px 5px #888888;
    overflow-y: auto;
    transition: width .3s ease;
    text-align: left;
}

#menuv-container a {
    display: block;
    width: 100%;
    background: whitesmoke;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    padding: 10px 0 10px 15px;
    margin: 0;
    cursor: pointer;
    &:hover, &:focus {
        background: #ccc;
        text-decoration: none;
    }
}

#menuv-container label.top-navlink {
    color: #000;
    margin-bottom: 0;
    border-bottom: 1px solid #CCC;
}

#menuv-container label.top-navlink:hover {
    background: #CCC;
}

#menuv-container .thick-border {
    border-bottom: 5px solid #888;
}