<? if($slug == "createAlert") : ?>
<h1>Create Alert</h1>
<div class="group">
<div class="success-box hide"></div>
<div class="error-box hide"></div>
<form action="<?=site_url('admin/createAlert')?>" method="post" enctype="multipart/form-data" class="ajax-form-single">
<? else : ?>
<div class="float-right"><a href="<?=site_url('admin/deleteAlert/'.$alert['id'])?>" class="button delete" style="margin-right: 40px;">Delete</a></div>
<h1>Edit Alert</h1><br />
<div class="group">
    <div class="success-box hide"></div>
    <div class="error-box hide"></div>
    <form action="<?=site_url('admin/modifyAlert/'.$alert['id'])?>" method="post" enctype="multipart/form-data" class="ajax-form-single">
    <? endif; ?>
        <div class="input-item"><label>Author or source</label><br /><input type="text" name="source" size="30" tabindex="1" required value="<?=$alert['source']?>" maxlength="30" /></div>
        <div class="input-item"><label>News Alert</label><br /><input type="text" name="message" tabindex="2" size="90" maxlength="90" value="<?=$alert['message']?>" required /></div>
        <? if($slug == "createAlert") : ?>
        <input type="submit" value="Create" />
        <? else : ?>
        <input type="submit" value="Save Changes" />
        <? endif; ?>
    </form>
</div>