<? if($slug == "createArticle") : ?>
<h1>Create Article</h1>
<form action="<?=site_url('admin/createArticle')?>" method="post" enctype="multipart/form-data">
<? else : ?>
<div class="float-right"><a href="<?=site_url('admin/deleteArticle/'.$article['article_id'])?>" class="button delete" style="margin-right: 40px;">Delete</a></div>
<h1>Edit Article</h1><br />
<form action="<?=site_url('admin/modifyArticle/'.$article['article_id'])?>" method="post" enctype="multipart/form-data">
<? endif; ?>
    <fieldset class="group">
        <div class="input-item"><label>Title</label><br /><input type="text" name="title" size="100" tabindex="1" required value="<?=htmlspecialchars($article['title'])?>" maxlength="108" /></div>
        <div class="input-item"><label>Headline Article?</label>
        <select name="headline"><option value="1">No</option><option value="2"<?if($article['is_headline'] == 1) :?> selected="selected"<?endif;?>>Yes</option></select></div><br />
        <div class="input-item"><label>Top Headline Article?</label>
        <select name="top_headline"><option value="1">No</option><option value="2" <?if($article['is_headline'] == 2) :?> selected="selected"<?endif;?>>Yes</option></select></div><br />
        <div class="input-item">
            <label>Category</label>
            <select name="category">
                <option value="current"<?if($article['category'] == "current") :?> selected="selected"<?endif;?>>Current</option>
                <option value="events"<?if($article['category'] == "events") :?> selected="selected"<?endif;?>>Events</option>
                <option value="art"<?if($article['category'] == "art") :?> selected="selected"<?endif;?>>Art</option>
                <option value="history"<?if($article['category'] == "history") :?> selected="selected"<?endif;?>>History</option>
                <option value="culture"<?if($article['category'] == "culture") :?> selected="selected"<?endif;?>>Culture</option>
                <option value="health"<?if($article['category'] == "health") :?> selected="selected"<?endif;?>>Health</option>
                <option value="opinion"<?if($article['category'] == "opinion") :?> selected="selected"<?endif;?>>Opinion</option>
            </select>
        </div><br />
        <div class="input-item"><label>Youtube video (optional)</label><br /><input type="url" name="video_url" size="60" tabindex="2" value="<? if(isset($article['video_url'])) { echo $article['video_url']; }?>" /></div>
        <div class="input-item"><label>Primary Image</label><br />
        <input type="file" name="primary_image" tabindex="3" class="uploaded-image<? if($slug == "editArticle") { echo " hide"; } ?>" <? if($slug == "createArticle") { echo 'required'; } ?> />
        <? if($slug == "editArticle") : ?>
        <button type="button" class="change-image">Change Image</button>
        <button type="button" class="cancel-image-change hide">Cancel</button>
        <? endif; ?>
        <span style="margin-left: 20px;">Image must be at least 700px by 400px</span></div><br />
        <div id="uploadPreview"></div>
        <div class="input-item"><label>Image caption</label><br /><textarea name="image_caption" rows="4" cols="80" tabindex="4" maxlength="200" required class="textarea-noresize"><? if(isset($article['caption'])) { echo $article['caption']; } ?></textarea></div><br />
        <div class="input-item"><label>Introduction</label><br /><textarea name="prelude" rows="4" cols="80" tabindex="4" maxlength="250" required class="textarea-noresize"><?=$article['prelude']?></textarea></div><br />
        <div class="input-item"><label>Body</label><br /><textarea name="content" class="redactor" rows="30" style="min-width: 95%; width: 95%;" tabindex="2" required ><?=$article['content']?></textarea></div>
        <? if($slug == "createArticle") : ?>
        <input type="submit" value="Create" />
        <? else : ?>
        <input type="submit" value="Save Changes" />
        <? endif; ?>
    </fieldset>
</form>