<? if ($slug == "viewUsers") { ?>

<h1>User Accounts</h1>
<div class="group">
<?
    $userCnt = sizeof($users);
    $cont = '';

    $cont .= '<ol class="user-list">';

    for($i=0; $i < $userCnt; $i++) {

        $pid = $users[$i]['pid'];
        $fullname = $users[$i]['actual_name'];
        $email = $users[$i]['email'];
        $privilege = $users[$i]['privileges'];

        $cont .= '<li class="clearfix">
            <div><span class="user-label"><b>Full Name</b></span> '.$fullname.'</div>
            <div><span class="user-label"><b>Email Address</b></span> '.$email.'</div>
            <div><span class="user-label"><b>Privilege</b></span>';
            $permissions = array("admin"=>"Administrator", "editor"=>"Editor", "headline_writer"=>"Headline Writer", "writer"=>"Writer", "subscriber"=>"Subscriber");

            $isadmin = 0;
            $options = '';

            foreach($permissions as $key=>$val) {
                if($privilege == $key) {

                    if($key == "admin") {
                        $options = '<b>Administrator</b>';
                        $isadmin = 1;
                        break;
                    }
                    $options .= '<b>'.$val.'</b>';
                }
            }
            if($isadmin == 1) {
                $cont .= $options . '</div>';
            } else {
                $cont .= $options . '</div><div class="float-right"><a href="'.SITE_URL.'admin/edit-user/'.$pid.'">Edit</a></div>';
            }
            $cont .='<div class="clear"></div>
            </li>';
    }

    $cont .= '</ol><div class="clear"></div>';

    echo $cont;

} else if ($slug == "editUser") { ?>

<h1>Edit User</h1>
<div class="group">
<div class="error-box hide"></div>
<div class="success-box hide"></div>
<?
    $userCnt = sizeof($users);
    $output = "";
    $i=0;

    $pid = $users[$i]['id'];
    $fullname = $users[$i]['actual_name'];
    $email = $users[$i]['email'];
    $privilege = $users[$i]['privileges'];

    $site_url = "site_url";
$output .= <<<HTML
<form action="{$site_url('admin/editUserPermissions/' . $pid)}" method="post" enctype="multipart/form-data" class="ajax-form-single">
    <div class="user-list">
        <div><span class="user-label"><b>Full Name:</b> </span>$fullname</div>
        <div><span class="user-label"><b>Email Address:</b> </span>$email</div>
        <div><span class="user-label"><b>Privilege:</b> </span>
HTML;
        $permissions = array(
            "admin"=>"Administrator",
            "editor"=>"Editor",
            "headline_writer"=>"Headline Writer",
            "writer"=>"Writer",
            "subscriber"=>"Subscriber"
        );

        $options = '<select name="permissions">';
        $isadmin = 0;

        foreach($permissions as $key=>$val) {
            if($privilege == $key) {

                if($key == "admin") {
                    $options = '<b>Administrator</b>';
                    $isadmin = 1;
                    break;
                }
                $options .= '<option value="'.$key.'" selected="selected">'.$val.'</option>';
            } else {
                $options .= '<option value="'.$key.'">'.$val.'</option>';
            }
        }

        if($isadmin == 0) {
            $options .= '</select>';
        }
        $output .= <<<HTML
            $options
        </div>
    </div><br />
    <input type="submit" value="Save Changes" />
HTML;

    echo $output;
}

?>
</div>