<div class="group">
<h1>Feature Toggles</h1>
<div class="lb"></div>
<br />
<p>Toggles for development and testing. Toggles checked by default are currently turned on in production.</p><br />
<form method="post" action="<?=site_url('admin/processToggles')?>" enctype="multipart/form-data">
<div><input type="checkbox" name="responsive" value="responsive" <? if (isset($_COOKIE['responsive'])) { echo 'checked="checked"'; } ?>> Responsive</div>
<br /><div><input type="submit" value="Submit" /></div>
</form>
</div>
