<?php
    $userCnt = sizeof($users);
    $cont = '';

    $cont .= '<ol class="user-list">';

    for($i=0; $i < $userCnt; $i++) {

        $pid = $users[$i]['pid'];
        $fullname = $users[$i]['actual_name'];
        $email = $users[$i]['email'];
        $privilege = $users[$i]['privileges'];

        $cont .= '<li class="clearfix">
            <div><span class="user-label"><b>Full Name</b></span> '.$fullname.'</div>
            <div><span class="user-label"><b>Email Address</b></span> '.$email.'</div>
            <div><span class="user-label"><b>Privilege</b></span>';
            $permissions = array("admin"=>"Administrator", "editor"=>"Editor", "headline_writer"=>"Headline Writer", "writer"=>"Writer", "subscriber"=>"Subscriber");

            $isadmin = 0;
            $options = '';

            foreach($permissions as $key=>$val) {
                if($privilege == $key) {

                    if($key == "admin") {
                        $options = '<b>Administrator</b>';
                        $isadmin = 1;
                        break;
                    }
                    $options .= '<b>'.$val.'</b>';
                }
            }
            if($isadmin == 1) {
                $cont .= $options . '</div>';
            } else {
                $cont .= $options . '</div><div class="float-right"><a href="'.SITE_URL.'admin/edit-user/'.$pid.'">Edit</a></div>';
            }
            $cont .='<div class="clear"></div>
            </li>';
    }

    $cont .= '</ol><div class="clear"></div>';

    echo $cont;