<div style="background: #eee; padding: 60px 100px 60px 100px; margin-bottom: 20px;">
<h1 style="font-size: 36px;">Welcome to the team!</h1>
</div>
<h2>Getting Started</h2>
<p>This website is still in its infancy. Please bear with us as we will be adding new features and making improvements weekly.<br /><br />
<p>You can add articles from the sidebar menu to your left.</p><br />Thanks,<br /><b>Management</b></p>