<h1>My Articles</h1><br />
<? if(!empty($articles)) : ?>
<ul class="feature-list">
    <? for($i = 0; $i < count($articles); $i++) : ?>
    <li class="category-preview">
        <div class="clearfix">
            <div class="row">
                <div class="col_5">
                    <img src="<?=media_url($articles[$i]['thumb_image'])?>" class="splash-category-thumb" />
                </div>
                <div class="col_12">
                    <h4><b><?=ucwords($articles[$i]['category'])?></b></h4><br />
                    <h2><?=$articles[$i]['title']?></h2>
                    <span class="author-desc">By <?=$articles[$i]['author']?></span><br />
                    <p><?=$articles[$i]['prelude']?></p><br />
                    <a href="<?=site_url('admin/edit-article/' . $articles[$i]['id'])?>"><b>Edit Article</b></a><br />
                </div>
            </div><br />
        </div>
    </li>
    <? endfor; ?>
</ul>
<? else : ?>
<div class="warning-box">You haven't created any articles yet.</div>
<? endif; ?>
