<h1>Search Articles</h1>
<div class="group">
    <p>Search for the article you wish to edit</p>
    <form action="<?=site_url('admin/searchArticleResults')?>" method="post" enctype="multipart/form-data" class="large-form ajax-form-multi">
    <input type="text" name="article" placeholder="Author or title" value="" size="80" required /><br />
    <input type="submit" value="Search" />
    </form>
    <div class="results-box hide"></div>
    <div class="error-box hide"></div>
</div>