<h1>Search Alerts</h1>
<div class="group">
    <p>Search for the alert you wish to edit</p>
    <form action="<?=site_url('admin/searchAlertResults')?>" method="post" enctype="multipart/form-data" class="large-form ajax-form-multi">
        <input type="text" name="alert" placeholder="Author or alert text" value="" size="80" required /><br />
        <input type="submit" value="Search" />
    </form>
    <div class="results-box hide"></div>
    <div class="error-box hide"></div>
</div>