<h1>User Accounts</h1>
<div class="group">
    <p>Search for a user account</p>
    <form id="find-account-form" action="<?=site_url('admin/searchUsers')?>" method="post" enctype="multipart/form-data" class="ajax-form-multi large-form">
        <input type="text" name="account" placeholder="Name or Email" value="" size="40" required /><br />
        <input type="submit" value="Search" />
    </form>
    <div class="results-box hide"></div>
</div>