<nav id="menuv-container">
    <a href="<?=site_url() ?>" class="top_parent<?
        if ($page == "home") : ?> current-nav-link<? endif; ?>">News</a>
    <a href="<?=site_url('events') ?>" class="top_parent<?
        if ($page == "events") : ?> current-nav-link<? endif; ?>">Events</a>
    <a href="<?=site_url('current') ?>" class="top_parent<?
        if ($page == "current") : ?> current-nav-link<? endif; ?>">Current</a>
    <a href="<?=site_url('art') ?>" class="top_parent<?
        if ($page == "art") : ?> current-nav-link<? endif; ?>">Art</a>
    <a href="<?=site_url('history') ?>" class="top_parent<?
        if ($page == "history") : ?> current-nav-link<? endif; ?>">History</a>
    <a href="<?=site_url('culture') ?>" class="top_parent<?
        if ($page == "culture") : ?> current-nav-link<? endif; ?>">Culture</a>
    <a href="<?=site_url('health') ?>" class="top_parent<?
        if ($page == "health") : ?> current-nav-link<? endif; ?>">Health</a>
    <a href="<?=site_url('opinion') ?>" class="top_parent<?
        if ($page == "opinion") : ?> current-nav-link<? endif; ?>">Opinion</a>
    <div class="thick-border"></div>
    <? if($session['member'] == false) : ?>
    <a href="<?=site_url('login')?>" class="top_parent">Sign In</a>
    <a href="<?=site_url('register')?>" class="top_parent">Register</a>
    <? else : ?>
    <a href="<?=site_url('logout') ?>" class="top_parent">Logout</a>
    <? endif; ?>
</nav>