<h1>Search Results</h1><div class="lb"></div><br />
<? if ($searchResults !== false) : ?>
<ul class="feature-list">
    <? foreach ($searchResults as $result) : ?>
    <li class="category-preview">
        <div class="clearfix">
            <div class="row">
                <? if (isset($result->author)) : ?>
                    <div class="col_7">
                        <a href="<?=site_url($result->category . '/' . $result->slug)?>"><img src="<?=site_url($result->thumb_image)?>" class="splash-category-thumb" /></a>
                    </div>
                    <div class="col_17">
                        <h4><b><?=ucwords($result->category)?></b></h4><br />
                        <a href="<?=site_url($result->category . '/' . $result->slug)?>"><h2><?=$result->title?></h2></a>
                        <span class="author-desc">
                            By <a href="<?=site_url('profile/' . $result->profile_path)?>"><?=$result->author?></a>
                        </span><br />
                        <p><?=$result->prelude?></p>
                    </div>
                <? elseif (isset($result->email)): ?>
                    <div class="col_7">
                        <a href="<?=site_url('profile/' . $result->profile_path)?>"><img src="<?=$result->profile_image?>" class="splash-category-thumb" /></a>
                    </div>
                    <div class="col_17">
                        <a href="<?=site_url('profile/' . $result->profile_path)?>"><h2><?=$result->fullname?></h2></a>
                        <h3><?=ucwords($result->userTitle)?></h3>
                    </div>
                <? endif; ?>
            </div><br />
        </div>
    </li>
    <? endforeach; ?>
</ul>
<? else : ?>
<p>No results found. Please make sure you spelled everything correctly and try again.</p>
<? endif; ?>